@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

*::selection {
    background: #2f4a69;
}

body {
    background-color: #0C0F11;
    overflow-x: hidden;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
}

.navbar_default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.navbar {
    width: 50%;
    background-color: hsla(0, 0%, 100%, .03);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -100px;
    padding: 20px;
    border-radius: 16px;
    transition: top 0.3s;
    z-index: 999;
}

.navbar a.siteTitle, .navbar_default a.siteTitle {
    text-decoration: none;
    font-size: 18px;
    color: #a5acb3;
    font-weight: 700;
    text-align: center;
    line-height: 0.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.navbar .navLink a, .navbar_default .navLink a {
    color: #b1b5b9;
    text-decoration: none;
    font-size: 18px;
}

.navbar_default a:hover, .navbar a:hover {
    color: #2966bc;
}

.navbar-mobile a {
    display: none;
}

.about_me {
    margin: 120px 0 50px 0;
}

.about_me__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.about_me__profile {
    width: 142px;
    height: 142px;
}

.about_me__profile img {
    width: 100%;
}

.about_me__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.about_me__details .about_me__hero {
    width: 410px;
}

.about_me__details .about_me__hero h1 {
    color: #A8ADB2;
}

.about_me__details .about_me__hero h1 a {
    color: #EEF5FC;
    text-decoration: none;
}

.about_me__details .about_me__hero h1 a:hover {
    color: #2966bc;
    text-decoration: none;
}

.about_me__links {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.about_me__links a {
    color: #A8ADB2;
    text-decoration: none;
    margin-right: 26.5px;
}

.about_me__links a.heroSocialTwitter:hover {
    color: #85bff7;
}

.about_me__links a.heroSocialInstagram:hover {
    color: #ee7470;
}

.about_me__links a.heroSocialLinkedIn:hover {
    color: #2966bc;
}

.about_me__links a.heroSocialGithub:hover {
    color: #d4d4d4;
}

.section-title {
    font-size: 20px; 
    letter-spacing: 0.12em; 
    margin-bottom: 10px;
    margin-top: 50px;
}

#brief_about .brief_about__title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    line-height: 4rem
}

#projects {
    color: #EEF5FC;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    color: #2966bc;
}

.project .project__title, .edu-title {
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 25px;
}

.project .project__description p, .brief_about__details p, .edu-description p span{
    font-size: 17px;
    color: #adb4bb;
    line-height: 1.8rem;
    margin-top: 10px;
}

.edu-description p{
    display: inline-block;
    font-family: Roboto Mono, sans-serif;
    font-size: .94rem;
    font-weight: 700;
    line-height: 1.55rem;
    color: #4a5568;
}

.footer {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h3 a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(168, 173, 178);
    line-height: 1.5rem;
    font-size: 15px;
    letter-spacing: 1.3px;
}

.footer .footer-links a {
    margin-right: 26.5px;
}

.footer h3 a:hover {
    color: #2966bc;
}

.footer-links {
    display: flex;
    align-items: center;
    color: rgb(168, 173, 178);
}

@media (max-width: 1500px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 850px) {    
    .wrapper {
        max-width: 320px;
        padding: 24px;
    }

    .navbar {
        display: none;
    }

    .navbar_default {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        visibility: hidden;
    }

    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -150px;
    }

    .navbar-mobile a {
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.1em;
        color: rgb(168, 173, 178);
        display: block;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 1.9px;
        background-color: #9a9999;
        margin: 5px 0;
    }

    .change .bar1 {
        transform: rotate(-40deg) translate(-2px, 5.5px);
    }

    .change .bar3 {
        transform: rotate(40deg) translate(-4px, -8.5px);
    }

    .change .bar2 {
        visibility: hidden;
    }

    .openNavLinks {
        position: absolute;
        height: 500%;
        width: 90%;
        background-color: #0C0F11;
        z-index: 999;
        padding: 60px 0;
    }
        
    .openNavLinks a {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 1.8px;
        text-decoration: none;
        color: #DDE1E7;
        margin-left: 0px;
    }

    .about_me {
        margin-top: -5px;
        display: flex;
    }
    
    .about_me__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .about_me__details {
        margin-top: 20px;
        align-self: flex-start;
    }
    
    .about_me__hero h1 {
        line-height: 2.7rem;
        letter-spacing: 0.03em;
        font-size: 28px;
    }

    .about_me__details .about_me__hero {
        width: auto;
    }

    .about_me__links {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 16px;
        gap: 20px;
    }

    .section-title {
        font-size: 17px;
    }

    #brief_about {
        margin-top: -20px;
    }

    #brief_about .brief_about__title {
        font-size: 1.8rem;
        /* margin-bottom: 1.4rem; */
        /* line-height: 4rem */
    }

    #brief_about .brief_about__details {
        margin-top: -12px;
    }

    #projects .project__title, #education .edu-title {
        font-size: 22px;
    }

    #education .edu-title {
        font-size: 19px;
    }

    .footer {
        margin-bottom: 0;
    }

    .footer .footer-links a {
        margin-right: 10px;
    }
}