@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Helvetica Neue'; /*a name to be used later*/
    src: url('http://domain.example/fonts/font.ttf'); /*URL to font*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

body {
    background-color: #0C0F11;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
}

.navbar_default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.navbar {
    width: 50%;
    background-color: hsla(0, 0%, 100%, .03);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -100px;
    padding: 20px;
    border-radius: 16px;
    transition: top 0.3s;
    z-index: 999;
}

.navbar a.siteTitle, .navbar_default a.siteTitle {
    text-decoration: none;
    font-size: 18px;
    color: #a5acb3;
    font-weight: 700;
    text-align: center;
    line-height: 0.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.navbar .navLink a, .navbar_default .navLink a {
    color: #b1b5b9;
    text-decoration: none;
    font-size: 18px;
}

.navbar_default a:hover, .navbar a:hover {
    color: #2966bc;
}

.about_me {
    margin: 120px 0 50px 0;
}

.about_me__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.about_me__profile {
    width: 142px;
    height: 142px;
}

.about_me__profile img {
    width: 100%;
}

.about_me__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.about_me__details .about_me__hero {
    width: 410px;
}

.about_me__details .about_me__hero h1 {
    color: #A8ADB2;
}

.about_me__details .about_me__hero h1 a {
    color: #EEF5FC;
    text-decoration: none;
}

.about_me__details .about_me__hero h1 a:hover {
    color: #2966bc;
    text-decoration: none;
}

.about_me__links {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.about_me__links a {
    color: #A8ADB2;
    text-decoration: none;
}

.about_me__links a.heroSocialTwitter:hover {
    color: #85bff7;
}

.about_me__links a.heroSocialInstagram:hover {
    color: #ee7470;
}

.about_me__links a.heroSocialLinkedIn:hover {
    color: #2966bc;
}

.about_me__links a.heroSocialGithub:hover {
    color: #d4d4d4;
}

.section-title {
    font-size: 20px; 
    letter-spacing: 0.12em; 
    margin-bottom: 10px;
    margin-top: 30px;
}

#brief_about .brief_about__title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    line-height: 4rem
}

#projects {
    color: #EEF5FC;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    color: #2966bc;
}

.project .project__title {
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 25px;
}

.project .project__description p, .brief_about__details p{
    font-size: 17px;
    color: #adb4bb;
    line-height: 1.8rem;
    margin-top: 10px;
}